		footer {
			display: flex;
			background-color: white;
			height: 60px;
			width: 100%;
			bottom: 0%;
			border-top: 1px solid #CCCCCC;
			position: fixed;
			text-align: center;
			justify-content: center;
			align-items: center;
			position: fixed;
			bottom: 0;
		}

		footer p {
			vertical-align: center;
		}