.container {
	max-width: 1000px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.filters {
	display: flex;
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	align-items: center;
	justify-content: flex-end;
	padding-right: 30px;
}

.filters button {
	vertical-align: center;
	font-size: 18px;
	background-color: #FF5A5F;
	color: #ffffff;
	height: 48px;
	width: 20%;
	border: none;
	margin: 30px;
	border-radius: 4%;
	left: 70%;


}

.filters button:hover {
	opacity: 90%;
}