ul {
	list-style-type: none;
}

.container {
	max-width: 1000px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.filters {
	display: flex;
	align-items: center;

	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;

}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #ffffff;
	height: 48px;
	width: 20%;
	border: none;

	border-radius: 4%;


}

.filters button:hover {
	opacity: 90%;
}

.filters .locations {
	display: flex;
	justify-content: center;
	flex-direction: column;

	margin-left: 4px;
	text-align: left;
	flex-direction: column;

	padding: 4px;
	vertical-align: center;
	height: 100%;
	width: 25%;


}

.filters .locations h3 {

	text-justify: center;
	font-weight: 600;
}

.filters .locations h4 {

	text-justify: center;
	font-weight: 400;
	font-size: 14px;
}

.filters .popover {
	position: absolute;
	top: 70px;
	width: 25%;
	display: none;

	list-style-type: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
}



.filters .popover ul ul {
	margin: 10px;
}

.filters .popover H2 {
	font-size: 16px;
}

.filters .locations:hover .popover {
	display: flex;
}

.filters .amenities:hover .popover {
	display: flex;
}



.filters .amenities {
	display: flex;
	justify-content: center;

	margin-left: 4px;
	text-align: left;
	flex-direction: column;


	vertical-align: center;
	height: 100%;
	width: 25%;


}

.filters .amenities h3 {
	text-justify: center;
	font-weight: 600;
}

.filters .amenities h4 {
	text-justify: center;
	font-weight: 400;
	font-size: 14px;
}

.filters div:first-child {
	border-right: 1px solid #DDDDDD;

}

.places {
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.places article {
	display: flex;
	min-width: 390px;
	padding: 20px;
	margin: 20px;
	align-items: center;
	border: 1px solid #FF5A5F;
	border-radius: 4%;
	text-align: center;
	justify-content: center;
}

.places h1 {
	display: block;
	width: 100%;
	height: auto;
	text-align: left;
	font-size: 30px;
}

.places article h2 {
	font-size: 30px;
	width: auto;

}